* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

.divCajaSonido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.cajaSonido{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 15px;
  font-size: 25px;
}

.cajaSonido button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  outline: none;
}

.titulo{
  text-align: center;
}
